* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
  color: #7f8fa4;
}
a {
  text-decoration: none !important;
  color: #7f8fa4 !important;
}
.form-control,
.form-control:focus {
  display: inline;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #787878;
  border-bottom-width: 1px;
  background-color: #f6f9fc !important;
}

input:focus {
  outline: none;
}
.col {
  background: #ffffff;
}

.bgNav {
  background: #ffffff !important;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}
.navbar-nav {
  color: #647787;
}

.trans {
  padding: 10px;
}
.daily,
.total {
  background: #ffffff;
  border: 1px solid #eef8fd;
  box-sizing: border-box;
  border-radius: 2px;
}
table {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid #00945E; */
  margin-bottom: 100px;
}

td,
th {
  border-bottom: 1px solid #cccfd4;
  text-align: left;
  padding: 10px;
  line-height: 40px;
}

tr {
  background-color: #ffffff;
}
th {
  background: #eaeef0;
}
