* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
  color: #7f8fa4;
}

/* input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  /* border-bottom-style: groove; */
/* background-color: #ffffff; */
/* padding: 5px; */
/* width: 100%; */
/* } */
.form-control,
.form-control:focus {
  display: inline;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: rgb(206, 212, 218);
  border-bottom-width: 1px;
}

input:focus {
  outline: none;
}
.col {
  background: #ffffff;
}

.bgNav {
  background: #ffffff !important;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}
.navbar-nav {
  color: #647787;
}

.trans {
  padding: 10px;
}
.daily,
.total {
  background: #ffffff;
  border: 1px solid #eef8fd;
  box-sizing: border-box;
  border-radius: 2px;
}
/***Payments Seearch*/

/* .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
} */
/** transaction Table **/
table {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid #00945E; */
  margin-bottom: 100px;
}

td,
th {
  border-bottom: 1px solid #cccfd4;
  text-align: left;
  padding: 10px;
  line-height: 40px;
}

tr {
  background-color: #ffffff;
}
th {
  background: #eaeef0;
}
